<body>
  <head>
    <title><%= book.title %></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
  <h1><%=book.title%></h1>
  <p><strong>Auteur :</strong> <%= book.author %></p>
    <p><strong>Année :</strong> <%= book.year %></p>
    <p><strong>Résumé :</strong> <%= book.summary %></p>
    <a href="/books" class="button_cancel">Retour</a>
</body>